@model DeckofCardsModel


<form asp-method="post" asp-action="Play" asp-route-id="i6bdww7srht5">
    @*   <input type="hidden" name="numberofCards" value="@Model.remaining"/>
    *@
    <button type="submit">Draw 5 Cards</button>
</form>
@{
    <h5>Number of Cards Left: @Model.remaining</h5>
   
        foreach (Card c in Model.cards) //Model.deck_id is the name of the property inside the model
                                        //DeckofCardsModel is the name of the class
        {
            <h3>@c.image</h3>
            <p>@c.value</p>
            <p>@c.suit</p>
            <p>@c.code</p>
        }


    }
